body {
  background-image: url('../img/sfondo.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
}


/*titolo*/
h1 {
  position: absolute;
  height: 20%;
  width: 99%;
  text-align: center;
  color: white;
  text-shadow: 4px 3px 2px rgb(42, 164, 204);
  font-size: 3em;
  font-weight: 900; 
  padding: 7px;
}

@media (max-width: 767px) {
  h1 {
    width: 88%;
    margin: 16px;
  }
}


/*sfondo*/
.sfondo {
  position: absolute;
  height: 90%;
  bottom: 0;
}

.luna {
  position: absolute;
  width: 40%;
  height: 40%;
  right: 0;
}

.montagne {
  position: absolute;
  object-fit: cover;
  bottom: 0;
  z-index: 0;
}


/*sezione button*/
#count {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  
  width: 99.5%;
  height: 35%;
  bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 55px;
}

#btnBox  {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 767px) {
  #count {
    width: 98%;
  }
}


/*stili ai bottoni*/
.button,
.buttonR {
  background-color: transparent;
  backdrop-filter: blur(4px);
  border: solid 2px white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 90%;
  border-radius: 25px;
  font-weight: 900;
  font-size: 25px;
  margin: 10px;
}

.button:hover,
.button:active {
  box-shadow: 5px 5px 10px black;
  color: rgb(162, 160, 160);
}

@media (max-width: 767px) {
  .button {
    font-size: 20px;
    width: 28%;
    height: 75%;
    margin: 16px;
  }
}


/*stile per la textarea*/
.resultTxt {
  color: white;
  border: solid 2px white;
  backdrop-filter: blur(4px);
  text-align: center;
  font-size: 45px;
  padding: 25px;
  width: 8%;
  height: 45%;
  border-radius: 25px;
  background-color: transparent;
  margin: 10px;
}


@media (max-width: 767px) {
  .resultTxt {
    width: 26%;
    margin: 16px;
  }
}

/* stella 1 */
.stella,
.stella2 {
  position: absolute;
  display: flex;
  width: 80px;
  height: 80px;
  padding: 10px;
  visibility: hidden;
  z-index: -1;
}

.stella2 {
  top: 450px;
  left: 750px;
}

@media (max-width: 767px){
  .stella2 {
    left: 250px;
  }
}


/*footer*/
footer {
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  height: 7%;
  width: 99%;
  padding: 5px;
  bottom: 10px;
}

footer a {
  color: white;
  width: 5%;
}

footer a:hover,
footer a:active {
  text-shadow: 5px 5px 10px black;
  color: rgb(162, 160, 160);
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  footer {
    width: 97%;
  }

  footer a {
    width: 15%;
  }
}